services:
    david63.acpusernotifications.listener:
        class: david63\acpusernotifications\event\listener
        arguments:
            - '@david63.acpusernotifications.acp.user.notify.controller'
        tags:
            - { name: event.listener }

    david63.acpusernotifications.acp.user.notify.controller:
        class: david63\acpusernotifications\controller\acp_user_notify_controller
        arguments:
            - '@request'
            - '%core.root_path%'
            - '%core.php_ext%'
            - '@template'
            - '@language'
            - '@david63.acpusernotifications.core.functions'
            - '@notification_manager'

    david63.acpusernotifications.core.functions:
        class: david63\acpusernotifications\core\functions
        arguments:
            - '@ext.manager'
